* {
	font-family: 'Rubik', sans-serif !important;
	box-sizing: border-box;
	margin: 0;
}

body {
	display: flex;
	height: 100vh;
	background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.wave {
	height: 70px;
	display: flex;
	align-items: center;
}

.wave span {
	display: block;
	background: #f1f1f1;
	height: 100%;
	width: 10px;
	border-radius: 50px;
	margin: 0 5px;
	animation: animate 1.2s linear infinite;
}

@keyframes animate {
	50% {
		height: 20%;
	}

	100% {
		height: 100%;
	}
}

.wave span:nth-child(2), .wave span:nth-child(6) {
	animation-delay: 0.3s;
}

.wave span:nth-child(3), .wave span:nth-child(5) {
	animation-delay: 0.6s;
}

.wave span:nth-child(4) {
	animation-delay: 0.9s;
}

.background {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: -1;
	display: flex;
	align-items: center;
	justify-content: center;
	filter: blur(50px);
}

.background .wave {
	transform: scale(5);
}

.container {
	width: 100%;
}

/* Section 1 */
.music-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px;
}

.album-art {
	width: 100%;
	max-width: 300px;
	border-radius: 10px;
}

.song-title {
	color: white;
	font-size: 28px;
	font-weight: 700;
	margin-top: 8px;
}

.artist {
	color: rgba(255, 255, 255, 0.7);
	font-size: 14px;
	font-weight: 400;
}

/* Section 2 */
.music-controls {
	/* margin-top: 16px; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.music-controls .progress {
	height: 4px;
	border-radius: 2px;
	width: 100%;
	max-width: 240px;
	background-color: rgba(255, 255, 255, 0.4);
	margin-top 16px;
}

.music-controls .progress .bar {
	height: 100%;
	width: 50%;
	background-color: white;
	border-radius: 2px;
}

.actions {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.action-icon {
	width: 30px;
	height: 30px;
	margin: 0 8px;
	cursor: pointer;
	transition: 0.3s;
}

.action-icon:hover {
	transform: scale(1.1);
}

.actions .big {
	width: 40px;
	height: 40px;
}
